@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/* Default styling rules */
* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}

body {
    font-family: Arimo,sans-serif;
    font-weight: 300;
    color: #202020;
    background-image: linear-gradient(to bottom right,green, yellow);
}

/* Heading Styling */

h1,h2 {
    font-family: arimo, helvetica;
    text-transform: uppercase;
    font-size: 150%;  
    letter-spacing: 0.1em;
    text-align: center;
    padding: 1em 0 0.75em;
}

/* Header */

header {
    padding: 1em;
    overflow: hidden;
    z-index: 1;
    background-image: linear-gradient(green, yellow);
}